.weather { 
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #2f4680, #1e2a78, #0b125f);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.search-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.search-btn img {
  width: 50px; /* or whatever you used before */
}
.error {
  margin-top: 12px;
  color: #ffdddd;
}




.search-bar { 
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input { 
  height: 50px;
  padding: 10px 15px;
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 16px; 
  color: #626262;
  background: #ebfffc;
}

.search-bar img { 
  padding: 15px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  background: #ebfffc;
}

.weather-icon { 
  width: 150px;
  margin: 30px 0;
}

.temperature {
  font-size: 40px;
  line-height: 1;
  color: #fff;
}

.location {
  font-size: 32px;
  color: #fff;
}

.weather-data { 
  display: flex;
 justify-content: space-between;
  align-items: center; /* ✅ fixed */
  color: #fff;
  margin-top: 20px;
  width: 100%;
}

.weather-data .col { 
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}

.weather-data .col span { 
  display: block;
  font-size: 16px;
}

.weather-data .col img { 
  width: 26px;
  margin-top: 10px;
}
